[user]
    name = menschikow
    email = USERNAME@users.noreply.github.com

[core]
    editor = emacsclient -c
    autocrlf = input

[push]
    default = simple

[color]
    ui = auto

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    lg = log --graph --oneline --decorate
    tree = log --graph --decorate --pretty=oneline --abbrev-commit --all

[init]
    defaultBranch = main

