*.local
.env
.env.*
.secret
.secrets
private/
local/

.ssh/
.gnupg/

.aws/
.azure/
.gcloud/
.kube/

.1password/
.bitwarden/

.zsh_history
.bash_history
.history

.DS_Store

*~
*.swp
*.swo
.session

.eln-cache/
.auto-save-list/
.emacs.desktop
.emacs.desktop.lock

.nvimlog
shada/

.direnv/

.venv/
venv/

node_modules/
prompts/

Thumbs.db


# emacs
elpa/

eln-cache/

ido.last
smex-items
recentf
bookmarks
places

auto-save-list/
*.elc

tree-sitter/
transient/
saves/
custom.el

*~
\#*\#
emacs/rewrite.md
emacs-commands
